.quiz-card {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 2px solid rgb(240, 219, 79);
    margin-top: 50px;
}

.qustion-div {
    display: flex;
    justify-content: space-between;
}

.eye-button {
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    border: none;
    margin: 10px;
    padding: 5px 10px;
    font-size: 20px;
}

.eye-button:hover {
    box-shadow: 0px 0px 5px yellow;
    background-color: rgb(255, 0, 0);
    color: white;

}


.quz-answer {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: start;

    background-color: rgb(193, 246, 200);
}



.answer-btnn {
    border: none;
    background-color: white;
    padding: 10px 5px;
    cursor: pointer;
    font-size: larger;
}

.answer-btnn:hover {
    background-color: rgb(19, 19, 18);
    color: white;
}

.answer-tost {
    position: fixed;
    top: 45%;
    left: 40%;
}

@media only screen and (max-width: 845px) {
    .quz-answer {
        display: block;
        gap: 20px;
    }

    .answer-btnn {
        margin-top: 10px;
        margin-right: 10px;
        font-size: 16px;
    }

    .qustion-div h5 {
        font-size: 16px;
        text-align: start;
    }

}